@model PAUP.Models.Game;
@{
    ViewData["Title"] = "Detalji igre";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Dodaj igru</h2>
<br>
<div class="row">
    <form class="form-signin" role="form" asp-action="AddGame" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="col-md-6" style="min-height:400px; padding: 5px">
        <img src="/images/Games/default.png" alt="Avatar" style="width:100%; padding:5px;">
        <input type="file" id="ImgUrl" name="Img" class="form-control">
    </div>
    <div class="col-md-6" style="text-align: center;">
        
            <input value="@Model.Id" hidden>
            <label for="Name" class="sr-only-focusable">Ime</label>
            <input type="text" value="@Model.Name" name="Name" class="form-control" placeholder="Ime" required autofocus>
            <label class="red"><span asp-validation-for="Name"></span></label>

            <label for="Category" class="sr-only-focusable">Kategorija</label><br>
            <select id="Category" name="Category" >
                <option value="0">Avanturistička</option>
                <option value="1">Akcijska</option>
                <option value="2">Sportska</option>
                <option value="3">Ostalo</option>
            </select>
            <br>
            <label for="Description" class="sr-only-focusable">Opis</label>
            <input rows="5" type="multiline" id="Description" name="Description" class="form-control" placeholder="Opis" autofocus>

            <label for="Price" class="sr-only-focusable">Cijena (HRK)</label>
            <input type="number" value="@Model.Price" name="Price" class="form-control" placeholder="Cijena" min="0" required autofocus>
            <label class="red"><span asp-validation-for="Price"></span></label>

            <label for="Amount" class="sr-only-focusable">Količina</label>
            <input type="number" min="0" value="@Model.Amount" name="Amount" class="form-control" placeholder="Količina" required>
            <label class="red"><span asp-validation-for="Amount"></span></label>

            <div class="checkbox mb-3">
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj</button>
        </form>
    </div>

</div>